
// Css theme inspired by material design
.root
{
    // Theme color definitions
    -theme-primary: #60869F;
    -theme-primary-light: #88A6BB;
    -theme-primary-lighter: #A6BCCE;
    -theme-primary-dark: #4D6C7F;

    -theme-background-default: #ECEFF1;

    -theme-font-dark: #606060;

    -theme-accent: #EFAC5E;
    -theme-accent-light: #F4C286;

    -theme-warning-header: -theme-accent;
    -theme-error-header: #FF6E40;

    // Default root theme colors
    -fx-background-color: -theme-background-default;

    -fx-control-inner-background: white;
    -fx-control-inner-background-alt: white;

    -fx-accent: -theme-accent;
    -fx-focus-color: -theme-accent;

    -fx-hover-base: black;
}

// Tab pane styling
.tab-pane
{

}

.tab-pane .tab-header-area .tab-header-background
{
    -fx-background-color: -theme-background-default;
}

.tab-pane:top *.tab-header-area
{
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0 0 0 0;
}

.tab-pane .tab
{
    -fx-background-insets: 0 1 0 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent, transparent, transparent, -theme-primary-dark;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 8 8 8 8;
}

.tab-pane .tab:selected
{
    -fx-background-color: -theme-primary;
}

.tab-pane .tab:hover
{
    -fx-background-color: -theme-accent;
}

.tab-pane .tab:selected:hover
{
    -fx-background-color: -theme-primary;
}

.tab .tab-label
{
    -fx-border-width: 5px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

// Adds space between tab text and close button
.tab-pane .tab-header-area .headers-region .tab .tab-container .tab-label
{
    -fx-padding: 0 8 0 0;
}

.tab .tab-close-button
{
    -fx-background-color: white;
}

.tab .tab-close-button:hover
{
    -fx-background-color: red;
    -fx-shape: "M9 1C4.58 1 1 4.58 1 9s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zm4 10.87L11.87 13 9 10.13 6.13 13 5 11.87 7.87 9 5 6.13 6.13 5 9 7.87 11.87 5 13 6.13 10.13 9 13 11.87z";
    -fx-scale-shape: false;
}

.control-buttons-tab
{
    -fx-background-color: -theme-background-default;
}

.control-buttons-tab .context-menu
{
    -fx-background-color: rgba(0, 0, 0, .75);
    -fx-background-radius: 5px;
}

.control-buttons-tab .context-menu .menu-item:focused
{
    -fx-background-color: derive(-theme-accent, 33%);
}

.control-buttons-tab .context-menu .label
{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.tab-down-button
{
   -fx-background-color: transparent;
   -fx-padding: 0 16 16 0;
}

.tab-down-button .arrow
{
    -fx-background-color: -theme-primary;
    -fx-shape: "M7 10l5 5 5-5z";
    -fx-scale-shape: true;
}

.tab-down-button .arrow:hover
{
    -fx-background-color: -theme-accent;
}

.tab-content-area
{
    -fx-background-color: white;
}

// Table view styling

.table-view .column-header
{
    -fx-background-color: transparent;
}

.table-view .column-header-background
{
    -fx-background-color: -theme-primary;
}

.table-view .column-header-background .label
{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .filler
{
    -fx-background-color: -theme-primary;
}

.table-row-cell
{
    // -fx-background-color: -fx-table-cell-border-color, white;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected
{
    //-fx-background-color: -theme-accent;
    //-fx-table-cell-border-color: -theme-accent;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-background-radius: 0;
}
