/*******************************************************************************
 *                                                                             *
 * Material design                                                             *
 *                                                                             *
 ******************************************************************************/
.root
{
    -fx-base: #D4D4D4; /* Base color */

    -fx-background: #F0F0F0; /* Background color */

    -fx-control-inner-background: white; /* Inner background color */
    -fx-control-inner-background-alt: -fx-control-inner-background;

    -fx-accent: #1565C0; /* Accent color */

    -fx-default-button: -fx-accent;

    -fx-focus-color: #2196F3; /* Focus color */
    -fx-faint-focus-color: -fx-focus-color;

    -fx-color: -fx-base;

    -fx-hover-base: ladder(
        -fx-base,
        derive(-fx-base, 20%) 20%,
        derive(-fx-base, 30%) 35%,
        derive(-fx-base, 40%) 50%
    );

    -fx-pressed-base: derive(-fx-base, -5%);

    -fx-box-border: -fx-default-border;
    -fx-text-box-border: -fx-default-border;

    -fx-outer-border: -fx-default-border;

    -fx-inner-border: transparent;
    -fx-inner-border-horizontal: transparent;
    -fx-inner-border-horizontal: transparent;

    -fx-body-color: -fx-color;
    -fx-body-color-bottomup: -fx-color;
    -fx-body-color-to-right: -fx-color;

    -fx-mark-color: -fx-text-base-color;

    -fx-mark-highlight-color: transparent;

    -fx-selection-bar-non-focused: #D0D0D0; /* Non focused selection color */

    -fx-cell-hover-color: transparent;

    -fx-cell-focus-inner-border: transparent;

    /* Custom FX values */
    -fx-background-dark: #E0E0E0;

    -fx-default-border: #A0A0A0;

    -fx-accent-text-color: ladder(
                -fx-accent,
                -fx-light-text-color 45%,
                -fx-dark-text-color  46%,
                -fx-dark-text-color  59%,
                -fx-mid-text-color   60%
    );
}

/*******************************************************************************
 *                                                                             *
 * General                                                                     *
 *                                                                             *
 ******************************************************************************/
.scroll-pane,
.split-pane,
.list-view,
.tree-view,
.table-view,
.tree-table-view,
.html-editor,
.split-pane > * > .list-view,
.split-pane > * > .tree-view,
.split-pane > * > .table-view,
.split-pane > * > .tree-table-view
{
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
}

.button,
.combo-box-base,
.combo-box-base:editable > .arrow-button,
.check-box > .box,
.radio-button > .radio
{
    -fx-background-color: -fx-outer-border, -fx-body-color;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
}

.button:hover,
.combo-box-base:hover,
.combo-box-base:editable:hover,
.check-box:hover > .box,
.radio-button:hover > .radio,
.button:focused,
.combo-box-base:focused,
.combo-box-base:editable:focused,
.check-box:focused > .box,
.radio-button:focused > .radio
{
    -fx-background-color: -fx-focus-color, -fx-color;
}

.text-input
{
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
}

.combo-box-base:editable > .text-field,
.date-picker > .text-field
{
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1 0 1 1;
    -fx-background-radius: 3 0 0 3, 2 0 0 2;
}

.text-input:focused,
.text-input:hover,
.combo-box-base:editable:focused > .text-field,
.combo-box-base:editable:hover > .text-field,
.date-picker:focused > .text-field,
.date-picker:hover > .text-field
{
    -fx-background-color: -fx-focus-color, -fx-control-inner-background;
}

/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/
.svg-button
{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 3;

    -fx-padding: 0;

    -fx-focus-traversable: false;
}

.svg-button:hover,
.svg-button:focused
{
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.svg-button:pressed
{
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.svg-button .svg
{
    -fx-fill: -fx-text-fill;
}

/*******************************************************************************
 *                                                                             *
 * Check box and Radio button                                                  *
 *                                                                             *
 ******************************************************************************/
.radio-button > .radio
{
    -fx-background-radius: 1.0em;
}

/*******************************************************************************
 *                                                                             *
 * Combo box                                                                   *
 *                                                                             *
 ******************************************************************************/
.combo-box-base
{
    -fx-pref-height: 25;
}

.combo-box-base:editable > .arrow-button
{
    -fx-background-radius: 0 3 3 0, 0 2 2 0;
}

/*******************************************************************************
 *                                                                             *
 * Date picker                                                                 *
 *                                                                             *
 ******************************************************************************/
.date-picker-popup
{
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
}

.date-picker-popup > .month-year-pane
{
    -fx-background-color: -fx-box-border, -fx-background-dark;
}

.date-picker-popup > * > .week-number-cell
{
    -fx-font-weight: bold;
}

.date-picker-popup > * > .spinner > .button
{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;

    -fx-padding: 2 6 2 6;
}

.date-picker-popup > * > .spinner > .button:hover
{
    -fx-background-color: -fx-focus-color, -fx-background-dark;
}

.date-picker-popup > * > .spinner > .button:pressed
{
    -fx-background-color: -fx-focus-color, derive(-fx-background-dark, 20%);
}

/*******************************************************************************
 *                                                                             *
 * Scroll bar                                                                  *
 *                                                                             *
 ******************************************************************************/
.scroll-bar > .track
{
    -fx-background-color: transparent, -fx-background;
}

.scroll-bar:horizontal > .thumb,
.scroll-bar:vertical > .thumb
{
    -fx-background-color: transparent, -fx-background-dark;
    -fx-background-radius: 0;
}

.scroll-bar:horizontal > .track,
.scroll-bar:horizontal > .thumb
{
    -fx-background-insets: 0, 0 1 1 1;
}

.scroll-bar:vertical > .track,
.scroll-bar:vertical > .thumb
{
    -fx-background-insets: 0, 1 1 1 0;
}

.scroll-bar > .thumb:hover
{
    -fx-background-color: transparent, derive(-fx-background-dark, -10%);
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button
{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.scroll-bar:horizontal > .increment-button,
.scroll-bar:horizontal > .decrement-button
{
    -fx-padding: 8 0 8 0;
}

.scroll-bar:vertical > .increment-button,
.scroll-bar:vertical > .decrement-button
{
    -fx-padding: 0 8 0 8;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding: 0;
}

.corner
{
    -fx-background-color: -fx-background;
    -fx-background-insets: 0;
}

/*******************************************************************************
 *                                                                             *
 * View styling                                                                *
 *                                                                             *
 ******************************************************************************/
.table-view,
.tree-table-view
{
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header .label,
.tree-table-view .column-header
{
    -fx-font-weight: bold;
}

.table-view .column-header,
.tree-table-view .column-header
{
    -fx-background-color: -fx-box-border, -fx-body-color;
    -fx-background-insets: 0, 0 1 1 0;
}

.table-view .filler,
.tree-table-view .filler,
.table-view > .column-header-background,
.tree-table-view > .column-header-background
{
    -fx-background-color: -fx-box-border, -fx-body-color;
    -fx-background-insets: 0, 0 0 1 0;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:focused,
.tree-table-view:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:focused,
.tree-table-view:focused:cell-selection > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell > .tree-table-cell:focused,
table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected
{
    -fx-background-insets: 0;
}

.list-cell,
.tree-view-cell,
.table-cell,
.tree-table-cell
{
    -fx-alignment: CENTER-LEFT;
    -fx-graphic-text-gap: 6;

    -fx-padding: 2 2 2 4;
}

/*******************************************************************************
 *                                                                             *
 * Navigation Bar                                                              *
 *                                                                             *
 ******************************************************************************/
.nav-bar-top
{
    -fx-background-color: -fx-outer-border, -fx-background-dark;
    -fx-background-insets: 0, 1 0 1 0;

    -fx-alignment: CENTER;
    -fx-padding: 8;
    -fx-spacing: 8;
}

.nav-bar-top .svg-button .svg
{
    -fx-fill: -fx-text-background-color;
}

.nav-bar-top .text-input
{
    -fx-background-color: transparent, -fx-control-inner-background;
}

.nav-bar-top .text-input:focused
{
    -fx-background-color: -fx-focus-color, -fx-control-inner-background;
}

.nav-bar-left
{
    -fx-background-color: -fx-outer-border, -fx-background-dark;
    -fx-background-insets: 0, 0 1 0 0;
    -fx-padding: 8;
}

.nav-bar-left .button
{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-pref-height: 32px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 4 16 4 16;
    -fx-graphic-text-gap: 8;

    -fx-text-fill: -fx-dark-text-color;
    -fx-font-weight: bold;

    -fx-focus-traversable: false;
}

.nav-bar-left .button:hover
{
    -fx-background-color: -fx-accent;
    -fx-text-fill: white; // TODO fix color...
}

.nav-bar-left .button:pressed
{
    -fx-background-color: -fx-focus-color;
}

.nav-bar-left .separator:horizontal
{
    -fx-padding: 8 0 6 0;
}

.nav-bar-left .separator:horizontal .line
{
    -fx-border-color: -fx-outer-border;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
}