/*******************************************************************************
 *                                                                             *
 * Template4FX CSS theme - Bright                                              *
 *                                                                             *
 ******************************************************************************/
.root
{
    -theme-color: #1976D2;        /* Blue: 700 */
    -theme-color-accent: #1E88E5; /* Blue: 600 */
    -theme-color-focus: #42A5F5;  /* Blue: 400 */
    -theme-fx-faint-focus-color: #42A5F522;

    -theme-color-warning: #FFB300;
    -theme-color-error: #F4511E;

    -theme-color-nav-bar: #C0C0C0;

    -theme-fx-base: #E0E0E0;
    -theme-fx-background: #E8E8E8;
    -theme-fx-control-inner-background: white;
    -theme-fx-default-button: #D0D0D0;

    -fx-base: -theme-fx-base;
    -fx-background: -theme-fx-background;

    -fx-control-inner-background: -theme-fx-control-inner-background;
    -fx-control-inner-background-alt: -fx-control-inner-background;

    -fx-accent: -theme-color-accent;
    -fx-default-button: -theme-fx-default-button;

    -fx-focus-color: -theme-color-focus;
    -fx-faint-focus-color: -theme-fx-faint-focus-color;

    -fx-cell-hover-color: transparent;
    -fx-cell-focus-inner-border: -fx-selection-bar;
}

/*******************************************************************************
 *                                                                             *
 * Special button graphics                                                     *
 *                                                                             *
 ******************************************************************************/
.special-button
{
    -fx-base: -theme-color;
    -fx-hover-base: -theme-color-accent;

    -fx-outer-border: #404040;
    -fx-focus-color: #1976D2;
    -fx-faint-focus-color: #1976D222;

    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.special-button:hover
{
    -fx-text-fill: white;
}

/*******************************************************************************
 *                                                                             *
 * Scroll bar styling                                                          *
 *                                                                             *
 ******************************************************************************/
.scroll-pane
{
    -fx-background-color: transparent;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button
{
    -fx-padding: 0.416667em 0.416667em 0.416667em  0.416667em;
}

.scroll-bar:horizontal .increment-button
{
    -fx-background-insets: 0 1 1 0;
}

.scroll-bar:horizontal .decrement-button
{
    -fx-background-insets: 0 0 1 1;
}

.scroll-bar:vertical .increment-button
{
    -fx-background-insets: 0 1 1 0;
}

.scroll-bar:vertical .decrement-button
{
    -fx-background-insets: 1 1 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
{
    -fx-background-color: #606060; /* To achieve a bit darker color */
}

.scroll-bar .thumb
{
    -fx-background-radius: 0em;
    -fx-color: -fx-background;
}

.scroll-bar .thumb:hover
{
    -fx-color: -fx-control-inner-background;
}

.scroll-bar:horizontal .thumb
{
    -fx-background-insets: 0 0 1 0, 1;
}

.scroll-bar:vertical .thumb
{
    -fx-background-insets: 0 1 0 0, 1;
}

/*******************************************************************************
 *                                                                             *
 * Tab styling                                                                 *
 *                                                                             *
 ******************************************************************************/
.tab-pane
{
    -fx-tab-min-height: 30px;
    -fx-tab-max-height: 60px;
}

.tab-pane .tab-header-area
{
    -fx-padding: 0.666667em 0.166667em 0.0em 1.0em;
}

/* Adds space between tab text and close button */
.tab-pane .tab-header-area .headers-region .tab .tab-container .tab-label
{
    -fx-padding: 0em 0.333333em 0em 0em;
}

.tab .tab-close-button:hover
{
    -fx-background-color: grey;
    -fx-shape: "M9 1C4.58 1 1 4.58 1 9s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zm4 10.87L11.87 13 9 10.13 6.13 13 5 11.87 7.87 9 5 6.13 6.13 5 9 7.87 11.87 5 13 6.13 10.13 9 13 11.87z";
    -fx-scale-shape: false;
}

.tab-down-button
{
   -fx-background-color: transparent;
   -fx-padding: 0.0em 0.666667em 0.666667em 0.0em;
}

.tab-down-button .arrow
{
    -fx-shape: "M7 10l5 5 5-5z";
}

.tab-down-button .arrow:hover
{
    -fx-background-color: transparent, transparent, transparent, -theme-color-accent;
}

/*******************************************************************************
 *                                                                             *
 * Accordion styling                                                           *
 *                                                                             *
 ******************************************************************************/
.accordion
{
    -fx-background-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Split pane styling                                                           *
 *                                                                             *
 ******************************************************************************/
.split-pane:horizontal .split-pane-divider,
.split-pane:vertical .split-pane-divider
{
    -fx-background-insets: 0, 0;
}

/*******************************************************************************
 *                                                                             *
 * Check box and Radio button styling                                          *
 *                                                                             *
 ******************************************************************************/
.check-box:selected .box,
.radio-button:selected .radio
{
    -fx-base: -theme-color;
}

.check-box:selected .box .mark,
.check-box:indeterminate .box .mark,
.radio-button:selected .radio .dot
{
    -fx-mark-color: white;
    -fx-mark-highlight-color: grey;
}

.slider .thumb
{
    -fx-base: -theme-color;
    -fx-text-box-border: derive(-theme-color,-23%);
}

/*******************************************************************************
 *                                                                             *
 * Date picker styling                                                         *
 *                                                                             *
 ******************************************************************************/
.date-picker-popup * .week-number-cell
{
    -fx-font-weight: bold;
}

/*******************************************************************************
 *                                                                             *
 * Dialog styling                                                              *
 *                                                                             *
 ******************************************************************************/
.dialog-pane:header *.header-panel
{
    -fx-background-color: -theme-color;
}

.dialog-pane:header .header-panel .label
{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane .content .label
{
    -fx-padding: 0.666667em, 0em, 0.666667em, 0em;
}

.alert.information.dialog-pane
{
    -fx-graphic: url("/icons/48/ic_info_outline_white_48dp.png");
}

.alert.warning.dialog-pane
{
    -fx-graphic: url("/icons/48/ic_warning_white_48dp.png");
}

.alert.warning.dialog-pane:header *.header-panel
{
    -fx-background-color: -theme-color-warning;
}

.alert.error.dialog-pane
{
    -fx-graphic: url("/icons/48/ic_error_outline_white_48dp.png");
}

.alert.error.dialog-pane:header *.header-panel
{
    -fx-background-color: -theme-color-error;
}

/*******************************************************************************
 *                                                                             *
 * Start button graphics                                                       *
 *                                                                             *
 ******************************************************************************/
.start-menu
{
    -fx-background-color: -theme-color-nav-bar;
    -fx-border-color: -theme-color;
    -fx-border-width: 0 2 0 0;
}

.start-button-1,
.start-button-2,
.start-button-3,
.start-button-4,
.start-button-5
{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-background-insets: 0;
    -fx-padding: 0.666667em 0.666667em 0.666667em 0.666667em;

    -fx-alignment: center-left;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.start-button-1:selected,
.start-button-2:selected,
.start-button-3:selected,
.start-button-4:selected,
.start-button-5:selected
{
    -fx-background-color: -theme-color;
}

.start-button-1:hover,
.start-button-1:selected:hover,
.start-button-2:hover,
.start-button-2:selected:hover,
.start-button-3:hover,
.start-button-3:selected:hover,
.start-button-4:hover,
.start-button-4:selected:hover,
.start-button-5:hover,
.start-button-5:selected:hover
{
    -fx-background-color: -theme-color-accent;
}

.start-button-1
{
    -fx-graphic: url("/icons/48/ic_home_black_48dp.png");
}

.start-button-1:hover,
.start-button-1:selected
{
    -fx-graphic: url("/icons/48/ic_home_white_48dp.png");
}

.start-button-2
{
    -fx-graphic: url("/icons/48/ic_archive_black_48dp.png");
}

.start-button-2:hover,
.start-button-2:selected
{
    -fx-graphic: url("/icons/48/ic_archive_white_48dp.png");
}

.start-button-3
{
    -fx-graphic: url("/icons/48/ic_assignment_black_48dp.png");
}

.start-button-3:hover,
.start-button-3:selected
{
    -fx-graphic: url("/icons/48/ic_assignment_white_48dp.png");
}

.start-button-4
{
    -fx-graphic: url("/icons/48/ic_history_black_48dp.png");
}

.start-button-4:hover,
.start-button-4:selected
{
    -fx-graphic: url("/icons/48/ic_history_white_48dp.png");
}

.start-button-5
{
    -fx-graphic: url("/icons/48/ic_settings_black_48dp.png");
}

.start-button-5:hover,
.start-button-5:selected
{
    -fx-graphic: url("/icons/48/ic_settings_white_48dp.png");
}

/*******************************************************************************
 *                                                                             *
 * Other styles...                                                             *
 *                                                                             *
 ******************************************************************************/
.tooltip
{
    -fx-font-size: 14px;
}

.info-button
{
    -fx-graphic: url('/icons/24/ic_info_outline_black_24dp.png');
}

.warning-button
{
    -fx-graphic: url('/icons/24/ic_warning_black_24dp.png');
}

.error-button
{
    -fx-graphic: url('/icons/24/ic_error_outline_black_24dp.png');
}

.folder-pane
{
    -fx-graphic: url('/icons/24/ic_folder_open_black_24dp.png');
}
