/*******************************************************************************
 *                                                                             *
 * Template4FX CSS theme - Light                                               *
 *                                                                             *
 ******************************************************************************/
.root
{
    -theme-color: #1976D2;        /* Blue: 700 */
    -theme-color-accent: #1E88E5; /* Blue: 600 */
    -theme-color-focus: #42A5F5;  /* Blue: 400 */
    -theme-color-focus-faint: #42A5F522;

    -theme-color-background: #E8E8E8;
    -theme-color-inner-background: white;
    -theme-color-base: #D4D4D4;
    -theme-color-border: A0A0A0;
    -theme-color-mark: #606060;
    -theme-color-error: #F4511E;
    -theme-color-warning: #FFB300;
    -theme-color-text-highlight: white;

    // FX color styling
    -fx-base: -theme-color-base;
    -fx-body-color: -theme-color-base;
    -fx-background: -theme-color-background;

    -fx-outer-border: -theme-color-border;
    -fx-box-border: -theme-color-border;
    -fx-text-box-border: -theme-color-border;
    -fx-inner-border: -theme-color-base;

    -fx-control-inner-background: -theme-color-inner-background;
    -fx-control-inner-background-alt: -theme-color-inner-background;

    -fx-accent: -theme-color-accent;
    -fx-default-button: -theme-color-base;

    -fx-focus-color: -theme-color-focus;
    -fx-faint-focus-color: -theme-color-focus-faint;

    -fx-cell-hover-color: transparent;
    -fx-cell-focus-inner-border: -fx-selection-bar;
}

/*******************************************************************************
 *                                                                             *
 * Accordion styling                                                           *
 *                                                                             *
 ******************************************************************************/
.accordion
{
    -fx-background-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Button styling                                                              *
 *                                                                             *
 ******************************************************************************/
.button
{
    -fx-background-color: -theme-color-border, -theme-color-base;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0, 0;
}

.button:focused
{
    -fx-background-color: -theme-color-focus, -theme-color-base;
    -fx-background-insets: 0, 1;
}

.button:hover
{
    -fx-background-color: -theme-color-focus, derive(-theme-color-base, 30%);
}

.button:pressed
{
    -fx-background-color: -theme-color-focus, derive(-theme-color-base, 45%);
}

.special-button
{
    -fx-background-color: derive(-theme-color, -25%), -theme-color;

    -fx-font-weight: bold;
    -fx-text-fill: -theme-color-text-highlight;
}

.special-button:focused
{
    -fx-background-color: derive(-theme-color, -25%), -theme-color;
    -fx-background-insets: 0, 1;
}

.special-button:hover
{
    -fx-background-color: derive(-theme-color, -25%), -theme-color-accent;
}

.special-button:pressed
{
    -fx-background-color: derive(-theme-color, -25%), -theme-color-focus;
}

.icon-button,
.icon-button:focused,
.icon-button:hover,
.icon-button:pressed
{
    -fx-background-insets: -1 0 0 0, 0 1 1 1;
    -fx-background-radius: 3, 2;
}

.icon-button
{
    -fx-background-color: transparent;
    -fx-padding: 4 5 4 5;
}

.icon-button:focused
{
    -fx-background-color: -theme-color-focus, -theme-color-background;
}

.icon-button:hover
{
    -fx-background-color: -theme-color-border, -theme-color-base;
}

.icon-button:pressed
{
    -fx-background-color: -theme-color-border, derive(-theme-color-base, -15%);
}

/*******************************************************************************
 *                                                                             *
 * Check box and Radio button styling                                          *
 *                                                                             *
 ******************************************************************************/
.check-box .box,
.radio-button .radio,
.check-box:focused .box,
.radio-button:focused .radio,
.check-box:focused .box,
.radio-button:focused .radio,
.check-box:selected .box,
.radio-button:selected .radio,
.check-box:selected:focused .box,
.radio-button:selected:focused .radio
{
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
}

.check-box .box,
.radio-button .radio
{
    -fx-background-color: -theme-color-border, -theme-color-base;
}

.check-box:focused .box,
.radio-button:focused .radio
{
    -fx-background-color: -theme-color-focus, -theme-color-base;
}

.check-box:selected .box,
.radio-button:selected .radio
{
    -fx-background-color: derive(-theme-color, -25%), -theme-color;
}

.check-box:selected:focused .box,
.radio-button:selected:focused .radio
{
    -fx-background-color: derive(-theme-color, -25%), -theme-color;
}

.check-box:selected .box .mark,
.check-box:indeterminate .box .mark,
.radio-button:selected .radio .dot
{
    -fx-mark-color: -theme-color-text-highlight;
    -fx-mark-highlight-color: grey;
}

/*******************************************************************************
 *                                                                             *
 * Combo box styling                                                           *
 *                                                                             *
 ******************************************************************************/
.combo-box-base,
.combo-box-base:editable
{
    -fx-background-color: -theme-color-border, -theme-color-base;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
}

.combo-box-base:focused
{
    -fx-background-color: -theme-color-focus, -theme-color-base;
}

.combo-box-base:editable:focused .arrow-button,
.date-picker:focused .arrow-button
{
    -fx-faint-focus-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Date picker styling                                                         *
 *                                                                             *
 ******************************************************************************/
.date-picker-popup .month-year-pane
{
    -fx-background-color: -theme-color-border, -theme-color-base;
}

.date-picker-popup * .week-number-cell
{
    -fx-font-weight: bold;
}

.date-picker-popup * .spinner .button
{
    -fx-background-color: -theme-color-border, -theme-color-background;
    -fx-padding: 2 6 2 6;
}

.date-picker-popup * .spinner .button:focused
{
    -fx-background-color: -theme-color-focus, -theme-color-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0, 0;
}

.date-picker-popup * .spinner .button .left-arrow,
.date-picker-popup * .spinner .button .right-arrow
{
    -fx-background-color: -theme-color-mark;
    -fx-background-insets: 0;
}

/*******************************************************************************
 *                                                                             *
 * Dialog styling                                                              *
 *                                                                             *
 ******************************************************************************/
.dialog-pane:header *.header-panel
{
    -fx-background-color: -theme-color;
}

.dialog-pane:header .header-panel .label
{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: -theme-color-text-highlight;
}

.dialog-pane .content .label
{
    -fx-padding: 8 0 8 0;
}

.alert.information.dialog-pane
{
    -fx-graphic: url("/icons/48/ic_info_outline_white_48dp.png");
}

.alert.warning.dialog-pane
{
    -fx-graphic: url("/icons/48/ic_warning_white_48dp.png");
}

.alert.warning.dialog-pane:header *.header-panel
{
    -fx-background-color: -theme-color-warning;
}

.alert.error.dialog-pane
{
    -fx-graphic: url("/icons/48/ic_error_outline_white_48dp.png");
}

.alert.error.dialog-pane:header *.header-panel
{
    -fx-background-color: -theme-color-error;
}

/*******************************************************************************
 *                                                                             *
 * Scroll bar styling                                                          *
 *                                                                             *
 ******************************************************************************/
.scroll-pane,
.scroll-pane .corner
{
    -fx-background-color: -theme-color-background;
    -fx-background-insets: 0;
}

.scroll-bar:horizontal
{
    -fx-background-color: -theme-color-border, -theme-color-background;
    -fx-background-insets: 0, 1 0 0 0;
}

.scroll-bar:vertical
{
    -fx-background-color: -theme-color-border, -theme-color-background;
    -fx-background-insets: 0, 0 0 0 1;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button
{
    -fx-background-color: -theme-color-background;
    -fx-padding: 6;
}

.scroll-bar .increment-button:hover,
.scroll-bar .decrement-button:hover
{
    -fx-background-color: -fx-base;
    -fx-background-insets: 1;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
{
    -fx-background-color: -theme-color-mark; /* To achieve a bit darker color */
}

.scroll-bar .thumb,
.scroll-bar .thumb:selected
{
    -fx-background-color: -theme-color-border, -theme-color-base;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
}

.scroll-bar .thumb:hover
{
     -fx-background-color: -theme-color-border,  derive(-theme-color-base, 30%);
}

/*******************************************************************************
 *                                                                             *
 * Split pane styling                                                          *
 *                                                                             *
 ******************************************************************************/
.split-pane
{
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.split-pane:horizontal .split-pane-divider
{
    -fx-background-color: -theme-color-border,
                          linear-gradient(to right, derive(-theme-color-base, 55%), derive(-theme-color-base ,-5%));
    -fx-background-insets: 0, 1 1 0 1;
}

.split-pane:vertical .split-pane-divider
{
    -fx-background-color: -theme-color-border,
                          linear-gradient(to bottom, derive(-theme-color-base, 55%), derive(-theme-color-base,-5%));
    -fx-background-insets: 0, 1 0 0 0;
    -fx-padding: 0 3 0 2;
}

/*******************************************************************************
 *                                                                             *
 * Tab styling                                                                 *
 *                                                                             *
 ******************************************************************************/
.tab-pane
{
    -fx-open-tab-animation: NONE;
    -fx-close-tab-animation: NONE;

    -fx-tab-min-height: 24px;
    -fx-tab-max-height: 40px;
}

.tab-pane .tab-header-area
{
    -fx-padding: 0;
}

.tab-pane .tab-header-area .tab-header-background
{
    -fx-background-color: -theme-color-border, -theme-color-background;
    -fx-background-insets: 0 0 0 0, 1 0 1 0;
}

.tab-pane .tab-header-area .headers-region .tab
{
    -fx-background-insets: 0, 1 1 1 0;
    -fx-background-radius: 0;
}

.tab-pane .tab-header-area .headers-region .tab:selected
{
    -fx-background-insets: 0, 1 1 0 0;
    -fx-background-color: -theme-color-border, -theme-color-inner-background;
    -fx-faint-focus-color: transparent;
}

.tab-pane .tab-header-area .headers-region .tab:selected .focus-indicator
{
    -fx-border-insets: -4 -5 -5 -6, 0;
    -fx-border-radius: 0;
}

/* Adds space between tab text and close button */
.tab-pane .tab-header-area .headers-region .tab .tab-container .tab-label
{
    -fx-padding: 0 4 0 0;
}

.tab .tab-close-button:hover
{
    -fx-background-color: red;
}

.tab-down-button
{
   -fx-background-color: transparent;
   -fx-padding: 0 8 8 0;
}

.tab-down-button .arrow
{
    -fx-shape: "M7 10l5 5 5-5z";
}

.tab-down-button .arrow:hover
{
    -fx-background-color: -theme-color-accent;
}

/*******************************************************************************
 *                                                                             *
 * Text input styling                                                          *
 *                                                                             *
 ******************************************************************************/
.text-input,
.combo-box-base:editable .text-field
{
    -fx-background-color: -theme-color-border, -theme-color-inner-background;
}

.text-input:focused
{
    -fx-background-color: -theme-color-focus, -theme-color-inner-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
}

.combo-box-base:editable:focused .text-field,
.combo-box-base:editable .text-field:focused,
.date-picker:focused .text-field,
.date-picker .text-field:focused
{
    -fx-background-color: -theme-color-focus, -theme-color-inner-background;
    -fx-background-insets: 0 -1 0 0, 1 0 1 1;
    -fx-background-radius: 3 0 0 3, 0;
}

/*******************************************************************************
 *                                                                             *
 * Toolbar styling                                                             *
 *                                                                             *
 ******************************************************************************/
.tool-bar
{
    -fx-background-color: transparent;
    -fx-border-color: -fx-box-border;
    -fx-border-width: 1 0 1 0;

    -fx-padding: 6 8 6 8;
    -fx-spacing: 5;
}

/*******************************************************************************
 *                                                                             *
 * Utility styling                                                             *
 *                                                                             *
 ******************************************************************************/
.menu-bar
{
    -fx-background-color: -theme-color-background;
    -fx-padding: 0;
}

.tooltip
{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/*******************************************************************************
 *                                                                             *
 * View styling                                                                *
 *                                                                             *
 ******************************************************************************/
.list-view:focused .virtual-flow .clipped-container .sheet .list-cell:focused,
.tree-view:focused .virtual-flow .clipped-container .sheet .tree-cell:focused,
.tree-table-view:focused:row-selection .virtual-flow .clipped-container .sheet .tree-table-row-cell:focused,
.tree-table-view:focused:cell-selection .virtual-flow .clipped-container .sheet .tree-table-row-cell .tree-table-cell:focused
{
    -fx-background-color: -fx-background;
    -fx-background-insets: 0;
}

.table-view:focused:row-selection .virtual-flow .clipped-container .sheet .table-row-cell:focused,
.table-view:focused:cell-selection .virtual-flow .clipped-container .sheet .table-row-cell .table-cell:focused
{
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
}

/*******************************************************************************
 *                                                                             *
 * Custom component styling                                                    *
 *                                                                             *
 ******************************************************************************/
.tab-box
{
    -fx-background-color: -theme-color-inner-background, -theme-color-background;
    -fx-background-insets: 0, 4 0 0 0;
    -fx-padding: 4 0 0 0;
}

.glass-background
{
    -fx-background-color: rgba(0, 0, 0, .3);
}

.search-box
{
    -fx-background-color: -theme-color-inner-background;
    -fx-border-color: -theme-color-border;
}

.search-box-label
{
    -fx-padding: 4 8 4 8;
}

.search-list
{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    -fx-background-insets: 0;
    -fx-padding: 4;
}

.search-list .list-cell:filled:hover
{
    -fx-background-color: -theme-color-focus;
    -fx-text-fill: -theme-color-text-highlight;
}
