/*******************************************************************************
 *                                                                             *
 * Template4FX CSS theme - Dark                                                *
 *                                                                             *
 ******************************************************************************/
.root
{
    /* Light green: 600 */
    -theme-color: #7CB342;

    /* Light green: 500 */
    -theme-color-accent: #8BC34A;

    /* Light green: 300 */
    -theme-color-focus: #AED581;

    -theme-fx-faint-focus-color: #AED58122;

    -theme-color-warning: #FFB300;
    -theme-color-error: #F4511E;

    -theme-fx-base: #404040;
    -theme-fx-background: #606060;
    -theme-fx-control-inner-background: #707070;
    -theme-fx-default-button: #505050;

    /* Root styling */
    -fx-base: -theme-fx-base;
    -fx-background: -theme-fx-background;

    -fx-control-inner-background: -theme-fx-control-inner-background;
    -fx-control-inner-background-alt: -fx-control-inner-background;

    -fx-accent: -theme-color-accent;
    -fx-default-button: -theme-fx-default-button;

    -fx-focus-color: -theme-color-focus;
    -fx-faint-focus-color: -theme-fx-faint-focus-color;

    -fx-cell-hover-color: transparent;
    -fx-cell-focus-inner-border: -fx-selection-bar;

    /* Keep a white mark color on less dark areas */
    -fx-mark-color: ladder(
            -fx-color,
            white 50%,
            derive(-fx-color,-63%) 51%
        );
}

/*******************************************************************************
 *                                                                             *
 * Accordion styling                                                           *
 *                                                                             *
 ******************************************************************************/
.accordion
{
    -fx-background-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Button styling                                                              *
 *                                                                             *
 ******************************************************************************/
.icon-button
{
    -fx-min-width: 28px;
    -fx-max-width: 28px;
    -fx-min-height: 25px;
    -fx-max-height: 25px;
}

.special-button
{
    -fx-base: -theme-color;
    -fx-hover-base: -theme-color-accent;

    -fx-outer-border: -theme-fx-base;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.special-button:hover
{
    -fx-text-fill: white;
}

/*******************************************************************************
 *                                                                             *
 * Check box and Radio button styling                                          *
 *                                                                             *
 ******************************************************************************/
.check-box:selected .box .mark,
.check-box:indeterminate .box .mark
{
    -fx-mark-color: -theme-color;
    -fx-mark-highlight-color: -theme-color-accent;
}

.radio-button:selected .radio .dot
{
    -fx-mark-color: -theme-color;
    -fx-mark-highlight-color: -fx-base;
}

.slider .thumb
{
    -fx-base: -theme-color;
    -fx-text-box-border: derive(-theme-color,-50%);
}

/*******************************************************************************
 *                                                                             *
 * Date picker styling                                                         *
 *                                                                             *
 ******************************************************************************/
.date-picker-popup * .previous-month,
.date-picker-popup * .next-month
{
    -fx-background: #505050;
}

.date-picker-popup * .previous-month:hover,
.date-picker-popup * .next-month:hover
{
    -fx-background: -fx-selection-bar-non-focused;
}

.date-picker-popup * .spinner .button .left-arrow,
.date-picker-popup * .spinner .button .right-arrow
{
    -fx-background-color: white;
}

.date-picker-popup * .week-number-cell
{
    -fx-font-weight: bold;
}

/*******************************************************************************
 *                                                                             *
 * Dialog styling                                                              *
 *                                                                             *
 ******************************************************************************/
.dialog-pane:header *.header-panel
{
    -fx-background-color: -theme-color;
}

.dialog-pane:header .header-panel .label
{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane .content .label
{
    -fx-padding: 0.666667em 0em 0.666667em 0em;
}

.alert.information.dialog-pane
{
    -fx-graphic: url("/icons/48/ic_info_outline_white_48dp.png");
}

.alert.warning.dialog-pane
{
    -fx-graphic: url("/icons/48/ic_warning_white_48dp.png");
}

.alert.warning.dialog-pane:header *.header-panel
{
    -fx-background-color: -theme-color-warning;
}

.alert.error.dialog-pane
{
    -fx-graphic: url("/icons/48/ic_error_outline_white_48dp.png");
}

.alert.error.dialog-pane:header *.header-panel
{
    -fx-background-color: -theme-color-error;
}

/*******************************************************************************
 *                                                                             *
 * Menu bar styling                                                            *
 *                                                                             *
 ******************************************************************************/
.menu-bar
{
    -fx-background-color: -fx-outer-border, transparent, transparent, -theme-fx-background;
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
    -fx-padding: 0;
}

/*******************************************************************************
 *                                                                             *
 * Scroll bar styling                                                          *
 *                                                                             *
 ******************************************************************************/
.scroll-pane
{
    -fx-background-color: transparent;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button
{
    -fx-padding: 0.416667em 0.416667em 0.416667em  0.416667em;
}

.scroll-bar:horizontal .increment-button
{
    -fx-background-insets: 0 1 1 0;
}

.scroll-bar:horizontal .decrement-button
{
    -fx-background-insets: 0 0 1 1;
}

.scroll-bar:vertical .increment-button
{
    -fx-background-insets: 0 1 1 0;
}

.scroll-bar:vertical .decrement-button
{
    -fx-background-insets: 1 1 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
{
    -fx-background-color: white;
}

.scroll-bar .thumb
{
    -fx-background-radius: 0em;
    -fx-color: -fx-background;
}

.scroll-bar .thumb:hover
{
    -fx-color: -fx-control-inner-background;
}

.scroll-bar:horizontal .thumb
{
    -fx-background-insets: 0 0 1 0, 1;
}

.scroll-bar:vertical .thumb
{
    -fx-background-insets: 0 1 0 0, 1;
}

/*******************************************************************************
 *                                                                             *
 * Split pane styling                                                          *
 *                                                                             *
 ******************************************************************************/
.split-pane
{
    -fx-background-color: transparent;
    -fx-padding: 0px;
}

.split-pane:horizontal .split-pane-divider
{
    -fx-inner-border: linear-gradient(to right,
                    ladder(
                        -fx-color,
                        derive(-fx-color,30%) 0%,
                        derive(-fx-color,20%) 40%,
                        derive(-fx-color,25%) 60%,
                        derive(-fx-color,55%) 80%,
                        derive(-fx-color,55%) 90%,
                        derive(-fx-color,75%) 100%
                    ),
                    ladder(
                        -fx-color,
                        derive(-fx-color,20%) 0%,
                        derive(-fx-color,10%) 20%,
                        derive(-fx-color,5%) 40%,
                        derive(-fx-color,-2%) 60%,
                        derive(-fx-color,-5%) 100%
                    ));

    -fx-background-color: -fx-box-border, -fx-inner-border;
}

/*******************************************************************************
 *                                                                             *
 * Tab styling                                                                 *
 *                                                                             *
 ******************************************************************************/
.tab-pane
{
    -fx-open-tab-animation: NONE;
    -fx-close-tab-animation: NONE;

    -fx-tab-min-height: 24px;
    -fx-tab-max-height: 40px;
}

.tab-pane .tab-header-area
{
    -fx-padding: 0.583333em 0.166667em 0.0em 0.666667em;
}

.tab-pane .tab-header-area .tab-header-background
{
    -fx-background-color: -fx-outer-border, transparent, transparent, -theme-fx-background;
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
}

/* Adds space between tab text and close button */
.tab-pane .tab-header-area .headers-region .tab .tab-container .tab-label
{
    -fx-padding: 0em 0.333333em 0em 0em;
}

.tab:hover .tab-close-button
{
    -fx-background-color: white;
}

.tab .tab-close-button:hover
{
    -fx-shape: "M9 1C4.58 1 1 4.58 1 9s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zm4 10.87L11.87 13 9 10.13 6.13 13 5 11.87 7.87 9 5 6.13 6.13 5 9 7.87 11.87 5 13 6.13 10.13 9 13 11.87z";
    -fx-scale-shape: false;
}

.tab-down-button
{
   -fx-background-color: transparent;
   -fx-padding: 0.0em 0.666667em 0.666667em 0.0em;
}

.tab-down-button .arrow
{
    -fx-shape: "M7 10l5 5 5-5z";
    -fx-scale-shape: true;
}

.tab-down-button .arrow:hover
{
    -fx-background-color: -theme-color-accent;
}

/*******************************************************************************
 *                                                                             *
 * Text field styling                                                          *
 *                                                                             *
 ******************************************************************************/
.text-field
{
    -fx-prompt-text-fill: #D0D0D0;
}

.text-field: focused
{
    -fx-prompt-text-fill: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Toolbar styling                                                             *
 *                                                                             *
 ******************************************************************************/
.tool-bar
{
    -fx-background-color: transparent;
    -fx-border-color: -fx-box-border;
    -fx-border-width: 1 0 1 0;

    -fx-padding: 0.5em 0.666667em 0.5em 0.666667em;
    -fx-spacing: 0.5em;
}

/*******************************************************************************
 *                                                                             *
 * Utility styling                                                             *
 *                                                                             *
 ******************************************************************************/
.tooltip
{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/*******************************************************************************
 *                                                                             *
 * View styling                                                                *
 *                                                                             *
 ******************************************************************************/
.list-view:focused .virtual-flow .clipped-container .sheet .list-cell:focused,
.tree-view:focused .virtual-flow .clipped-container .sheet .tree-cell:focused,
.tree-table-view:focused:row-selection .virtual-flow .clipped-container .sheet .tree-table-row-cell:focused,
.tree-table-view:focused:cell-selection .virtual-flow .clipped-container .sheet .tree-table-row-cell .tree-table-cell:focused
{
    -fx-background-color: -fx-background;
    -fx-background-insets: 0;
}

.table-view:focused:row-selection .virtual-flow .clipped-container .sheet .table-row-cell:focused,
.table-view:focused:cell-selection .virtual-flow .clipped-container .sheet .table-row-cell .table-cell:focused
{
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
}

/*******************************************************************************
 *                                                                             *
 * Custom component styling                                                    *
 *                                                                             *
 ******************************************************************************/
.glass-background
{
    -fx-background-color: rgba(0, 0, 0, .3);
}

.search-box
{
    -fx-background-color: -theme-fx-control-inner-background;
    -fx-border-color: #404040;
}

.search-box-label
{
    -fx-padding: 4 8 4 8;
}

.search-list
{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    -fx-background-insets: 0, 0;
    -fx-padding: 4px;
}

.search-list .list-cell:filled:hover
{
    -fx-background-color: -theme-color-focus;
    -fx-text-fill: black;
}
