/*******************************************************************************
 *                                                                             *
 * Template4FX CSS theme - Dark                                                *
 *                                                                             *
 ******************************************************************************/
.root
{
    -theme-color: #1976D2;
    -theme-color-focus: #2196F3;

    -theme-color-background: #3C3F41;
    -theme-color-inner-background: #45494A;

    -theme-color-base: #3C3E3F;
    -theme-color-base-hover: derive(-theme-color-base, 30%);
    -theme-color-base-pressed: derive(-theme-color-base, 45%);

    -theme-color-border: #646464;
    -theme-color-mark: white;
    -theme-color-text-highlight: white;

    -theme-color-error: #F4511E;
    -theme-color-warning: #FFB300;

    // FX color styling
    -fx-base: -theme-color-base;
    -fx-body-color: -theme-color-base;
    -fx-background: -theme-color-background;

    -fx-outer-border: -theme-color-border;
    -fx-box-border: -theme-color-border;
    -fx-text-box-border: -theme-color-border;
    -fx-inner-border: -theme-color-base;

    -fx-control-inner-background: -theme-color-inner-background;
    -fx-control-inner-background-alt: -theme-color-inner-background;

    -fx-accent: -theme-color;
    -fx-focus-color: -theme-color-focus;
    -fx-faint-focus-color: transparent;

    -fx-default-button: -theme-color-base;

    -fx-cell-hover-color: transparent;
    -fx-cell-focus-inner-border: -fx-selection-bar;

    /* Keep a white mark color on less dark areas */
    -fx-mark-color: -theme-color-mark;
}

/*******************************************************************************
 *                                                                             *
 * General                                                                     *
 *                                                                             *
 ******************************************************************************/
.scroll-pane:focused,
.split-pane:focused,
.list-view:focused,
.tree-view:focused,
.table-view:focused,
.tree-table-view:focused,
.html-editor:contains-focus
{
    -fx-background-color: -theme-color-focus, -theme-color-inner-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
}

/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/
.button
{
    -fx-background-color: -theme-color-border, -theme-color-base;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
}

.button:hover,
.button:focused
{
    -fx-background-color: -theme-color-focus, -theme-color-base-hover;
}

.button:pressed
{
    -fx-background-color: -theme-color-focus, -theme-color-base-pressed;
}

.icon-button
{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-padding: 4 5 4 5;

    -fx-focus-traversable: false;
}

.icon-button:focused,
.icon-button:hover
{
    -fx-background-color: -theme-color-focus, -theme-color-base;
}

.icon-button:pressed
{
    -fx-background-color: derive(-theme-color-focus, -10%), derive(-theme-color-base, -10%);
}

/*******************************************************************************
 *                                                                             *
 * Check box and Radio button                                                  *
 *                                                                             *
 ******************************************************************************/
.check-box > .box
{
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
}

.radio-button > .radio
{
     -fx-background-insets: 0, 1;
}

.check-box > .box,
.radio-button > .radio
{
    -fx-background-color: -theme-color-border, -theme-color-base;
}

.check-box:focused > .box,
.radio-button:focused > .radio
{
    -fx-background-color: -theme-color-focus, -theme-color-base;
}

.check-box:hover > .box,
.radio-button:hover > .radio
{
    -fx-background-color: -theme-color-focus, -theme-color-base-hover;
}

.check-box:pressed > .box,
.radio-button:pressed > .radio
{
    -fx-background-color: -theme-color-focus, -theme-color-base-pressed;
}

.check-box:selected > .box,
.radio-button:selected > .radio
{
    -fx-background-color: derive(-theme-color, -25%), -theme-color;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate > .box > .mark,
.radio-button:selected > .radio > .dot
{
    -fx-mark-color: -theme-color-text-highlight;
    -fx-mark-highlight-color: grey;
}

/*******************************************************************************
 *                                                                             *
 * Combo box                                                                   *
 *                                                                             *
 ******************************************************************************/
.combo-box-base
{
    -fx-background-color: -theme-color-border, -theme-color-base;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
}

.combo-box-base:editable > .arrow-button
{
    -fx-background-color: -theme-color-border, -theme-color-base;
    -fx-background-insets: 0, 1 1 1 0;
    -fx-background-radius: 0;
}

.combo-box-base:hover,
.combo-box-base:focused
{
    -fx-background-color: -theme-color-focus, -theme-color-base-hover;
}

.combo-box-base:editable:hover > .arrow-button,
.combo-box-base:editable:focused > .arrow-button
{
    -fx-background-color: -theme-color-focus, -theme-color-base-hover;
    -fx-background-insets: 0, 1 1 1 0;
}

.combo-box-base:pressed,
.combo-box-base:editable:pressed > .arrow-button
{
    -fx-background-color: -theme-color-focus, -theme-color-base-pressed;
}

/*******************************************************************************
 *                                                                             *
 * Date picker                                                                 *
 *                                                                             *
 ******************************************************************************/
.date-picker-popup > .month-year-pane
{
    -fx-background-color: -theme-color-border, -theme-color-base;
}

.date-picker-popup > * > .week-number-cell
{
    -fx-font-weight: bold;
}

.date-picker-popup > * > .spinner .button
{
    -fx-background-color: -theme-color-border, -theme-color-background;
    -fx-padding: 2 6 2 6;
}

.date-picker-popup > * > .spinner .button
{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0, 0;
}

.date-picker-popup > * > .spinner .button:focused
{
    -fx-background-color: -theme-color-focus, -theme-color-base;
}

.date-picker-popup > * > .spinner .button:hover
{
    -fx-background-color: -theme-color-focus, -theme-color-base-hover;
}

.date-picker-popup > * > .spinner .button .left-arrow,
.date-picker-popup > * > .spinner .button .right-arrow
{
    -fx-background-color: -theme-color-mark;
    -fx-background-insets: 0;
}

/*******************************************************************************
 *                                                                             *
 * Dialog                                                                      *
 *                                                                             *
 ******************************************************************************/
.dialog-pane:header > .header-panel
{
    -fx-background-color: -theme-color;
}

.dialog-pane:header > .header-panel > .label
{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: -theme-color-text-highlight;
}

.dialog-pane > .content > .label
{
    -fx-padding: 8 0 8 0;
}

.alert.information.dialog-pane
{
    -fx-graphic: url("/icons/48/ic_info_outline_white_48dp.png");
}

.alert.warning.dialog-pane
{
    -fx-graphic: url("/icons/48/ic_warning_white_48dp.png");
}

.alert.warning.dialog-pane:header > .header-panel
{
    -fx-background-color: -theme-color-warning;
}

.alert.error.dialog-pane
{
    -fx-graphic: url("/icons/48/ic_error_outline_white_48dp.png");
}

.alert.error.dialog-pane:header > .header-panel
{
    -fx-background-color: -theme-color-error;
}

.dialog-pane > .button-bar > .container > .details-button
{
    -fx-text-fill: -theme-color-text-highlight;
}

.dialog-pane > .button-bar > .container > .details-button.more
{
    -fx-graphic: url("/icons/24/ic_expand_more_white_24dp.png");
}

.dialog-pane > .button-bar > .container > .details-button.less
{
    -fx-graphic: url("/icons/24/ic_expand_less_white_24dp.png");
}

/*******************************************************************************
 *                                                                             *
 * Hyperlink                                                                   *
 *                                                                             *
 ******************************************************************************/
.hyperlink
{
    -fx-text-fill: -fx-text-background-color;
}

.hyperlink:hover,
.hyperlink:hover:visited
{
    -fx-text-fill: -theme-color-focus;
}

/*******************************************************************************
 *                                                                             *
 * Popup menu                                                                  *
 *                                                                             *
 ******************************************************************************/
.context-menu,
.combo-box-popup > .list-view,
.date-picker-popup
{
     -fx-background-color: -theme-color-border, -theme-color-inner-background;
}

.combo-box-popup > .list-view
{
    -fx-background-insets: 0, 0 1 1 1;
}

/*******************************************************************************
 *                                                                             *
 * Scroll bar                                                                  *
 *                                                                             *
 ******************************************************************************/
.scroll-bar:horizontal,
.scroll-bar:vertical
{
    -fx-background-color: -theme-color-border, -theme-color-background;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button
{
    -fx-background-color: transparent, -theme-color-background;
    -fx-padding: 6;
}

.scroll-bar:horizontal > .increment-button
{
    -fx-background-insets: 0, 1 1 1 0;
}

.scroll-bar:horizontal > .decrement-button
{
    -fx-background-insets: 0, 1 0 1 1;
}

.scroll-bar:vertical > .increment-button
{
    -fx-background-insets: 0, 0 1 1 1;
}

.scroll-bar:vertical > .decrement-button
{
    -fx-background-insets: 0, 1 1 0 1;
}

.scroll-bar > .increment-button:hover,
.scroll-bar > .decrement-button:hover
{
    -fx-background-color: transparent, -theme-color-base-hover;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .increment-button > .decrement-arrow,
.scroll-bar > .decrement-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow
{
    -fx-background-color: -theme-color-mark;
}

.scroll-bar:horizontal > .thumb
{
    -fx-background-color: -theme-color-border, -theme-color-base;
    -fx-background-insets: 0 0 1 0, 1;
    -fx-background-radius: 0;
}

.scroll-bar:vertical > .thumb
{
    -fx-background-color: -theme-color-border, -theme-color-base;
    -fx-background-insets: 0 1 0 0, 1;
    -fx-background-radius: 0;
}

.scroll-bar > .thumb:hover
{
     -fx-background-color: -theme-color-border,  -theme-color-base-hover;
}

/*******************************************************************************
 *                                                                             *
 * Split pane                                                                  *
 *                                                                             *
 ******************************************************************************/
.split-pane:horizontal > .split-pane-divider
{
    -fx-background-color: -theme-color-border,
                          linear-gradient(to right, derive(-theme-color-base, 25%), derive(-theme-color-base ,-5%));
}

.split-pane:vertical > .split-pane-divider
{
    -fx-background-color: -theme-color-border,
                          linear-gradient(to bottom, derive(-theme-color-base, 25%), derive(-theme-color-base,-5%));
}

/*******************************************************************************
 *                                                                             *
 * Tab pane                                                                    *
 *                                                                             *
 ******************************************************************************/
.tab-pane
{
    -fx-open-tab-animation: NONE;
    -fx-close-tab-animation: NONE;

    -fx-tab-min-height: 24px;
    -fx-tab-max-height: 40px;
}

.tab-pane > .tab-header-area
{
    -fx-padding: 0;
}

.tab-pane > .tab-header-area > .tab-header-background
{
    -fx-background-color: -theme-color-border, -theme-color-background;
    -fx-background-insets: 0 0 0 0, 1 0 1 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab
{
    -fx-background-insets: 0, 1 1 1 0;
    -fx-background-radius: 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected
{
    -fx-background-insets: 0, 1 1 0 0;
    -fx-background-color: -theme-color-border, -theme-color-inner-background;
    -fx-faint-focus-color: transparent;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator
{
    -fx-border-color: -theme-color-focus;
    -fx-border-insets: -4 -5 -5 -6;
    -fx-border-radius: 0;
}

/* Adds space between tab text and close button */
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label
{
    -fx-padding: 0 4 0 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button:hover
{
    -fx-background-color: -fx-mark-highlight-color, red;
}

.tab-down-button
{
   -fx-background-color: transparent;
   -fx-padding: 0 8 8 0;
}

.tab-down-button > .arrow
{
    -fx-shape: "M7 10l5 5 5-5z";
}

.tab-down-button > .arrow:hover
{
    -fx-background-color: -theme-color-focus;
}

/*******************************************************************************
 *                                                                             *
 * Text area                                                                   *
 *                                                                             *
 ******************************************************************************/
.text-area > .scroll-pane > .scroll-bar:vertical
{
    -fx-background-color: transparent, -theme-color-border, -theme-color-background;
    -fx-background-insets: 0, 1 0 1 0, 1 0 1 1;
    -fx-padding: 0 -1 0 0;
}

.text-area .content,
.text-area:focused .content
{
    -fx-background-color: -theme-color-inner-background;
    -fx-background-insets: 0;
}

/*******************************************************************************
 *                                                                             *
 * Text input                                                                  *
 *                                                                             *
 ******************************************************************************/
.text-input,
.combo-box-base:editable > .text-field,
.date-picker > .text-field
{
    -fx-background-color: -theme-color-border, -theme-color-inner-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;

    -fx-prompt-text-fill: derive(-fx-control-inner-background, 50%);
}

.text-input:focused,
.text-input:hover
{
    -fx-background-color: -theme-color-focus, -theme-color-inner-background;
}

.text-input:focused
{
    -fx-prompt-text-fill: transparent;
}

.combo-box-base:editable:focused > .text-field,
.combo-box-base:editable:hover > .text-field,
.combo-box-base:editable > .text-field:focused,
.combo-box-base:editable > .text-field:hover,
.date-picker:focused > .text-field,
.date-picker:hover > .text-field,
.date-picker > .text-field:focused,
.date-picker > .text-field:hover
{
    -fx-background-color: -theme-color-focus, -theme-color-inner-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
}

/*******************************************************************************
 *                                                                             *
 * Toolbar                                                                     *
 *                                                                             *
 ******************************************************************************/
.tool-bar
{
    -fx-background-color: transparent;
    -fx-border-color: -fx-box-border;
    -fx-border-width: 0 0 1 0;

    -fx-padding: 6 8 6 8;
    -fx-spacing: 5;
}

.tool-bar-overflow-button:focused > .arrow,
.tool-bar-overflow-button:hover > .arrow
{
    -fx-background-color: -fx-mark-highlight-color, derive(-fx-mark-color, -30%);
}

/*******************************************************************************
 *                                                                             *
 * Utility                                                                     *
 *                                                                             *
 ******************************************************************************/
.corner
{
    -fx-background-color: -theme-color-background;
    -fx-background-insets: 0;
}

.menu-bar
{
    -fx-background-color: -theme-color-background;
    -fx-padding: 0;
}

.tooltip
{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/*******************************************************************************
 *                                                                             *
 * View styling                                                                *
 *                                                                             *
 ******************************************************************************/
.table-view,
.tree-table-view
{
    -fx-table-cell-border-color: derive(-theme-color-border, 30%);
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:focused,
.tree-table-view:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:focused,
.tree-table-view:focused:cell-selection > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell > .tree-table-cell:focused
{
    -fx-background-color: -fx-background;
    -fx-background-insets: 0;
}

.table-view:focused:row-selection > .virtual-flow > .clipped-container .sheet > .table-row-cell:focused,
.table-view:focused:cell-selection > .virtual-flow > .clipped-container .sheet > .table-row-cell .table-cell:focused
{
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
}

/*******************************************************************************
 *                                                                             *
 * QuadTabPane                                                                 *
 *                                                                             *
 ******************************************************************************/
.quad-tab-pane
{
    -fx-padding: 0;
}

.quad-tab-pane > .split-pane-divider
{
    -fx-background-color: -theme-color-border,
                          linear-gradient(to right, derive(-theme-color-base, 25%), derive(-theme-color-base ,-5%));
    -fx-background-insets: 0, 1 1 0 1;
}

.quad-tab-pane > * > .split-pane:vertical > .split-pane-divider
{
    -fx-background-color: -theme-color-border,
                          linear-gradient(to bottom, derive(-theme-color-base, 25%), derive(-theme-color-base,-5%));
    -fx-background-insets: 0, 1 0 0 0;
    -fx-padding: 0 3 0 2;
}

/*******************************************************************************
 *                                                                             *
 * Custom components                                                           *
 *                                                                             *
 ******************************************************************************/
.tab-box
{
    -fx-background-color: -theme-color-inner-background, -theme-color-border, -theme-color-background;
    -fx-background-insets: 0, 4 0 0 0, 5 0 0 0;
    -fx-padding: 4 0 0 0;
}

.glass-background
{
    -fx-background-color: rgba(0, 0, 0, .3);
}

.search-box
{
    -fx-background-color: -theme-color-inner-background;
    -fx-border-color: -theme-color-border;
}

.search-box-label
{
    -fx-padding: 4 8 4 8;
}

.search-list
{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    -fx-background-insets: 0;
    -fx-padding: 4;
}

.search-list:focused
{
    -fx-background-insets: 0;
}

.search-list .list-cell:filled:hover
{
    -fx-background-color: -theme-color-focus;
    -fx-text-fill: -theme-color-text-highlight;
}
