.dialog
{
    -dialog-header-color: black;
    -dialog-text-color: black;
}

.dialog-background
{
    -fx-background-color: -fx-background;
    -fx-background-radius: 3, 2;
}

.dialog-header
{
    -fx-background-color: -dialog-header-color, white;
    -fx-background-insets: 0 0 0 0, 0 0 4 0;
    -fx-background-radius: 3 3 0 0;

    -fx-padding: 8 12 12 12;
    -fx-spacing: 8;

    -fx-alignment: CENTER;
}

.dialog-header > .label
{
    -fx-text-fill: -dialog-text-color;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.dialog-content
{
    -fx-padding: 12;
}

.vertical-bar
{
    -fx-padding: 0 4 0 4;
}

.bottom-bar
{
    -fx-padding: 12 0 0 0;
}
