.error-dialog
{
}

.error-dialog > .masker-glass
{
    -fx-background-color: rgba(0, 0, 0, .3);
}

.error-dialog-background
{
    -fx-background-color: -fx-background;
    -fx-background-radius: 3, 2;

    -fx-pref-width: 600;
    -fx-pref-height: 400;
}

.error-dialog-header
{
    -fx-background-color: -error;
    -fx-background-radius: 3 3 0 0;
    -fx-padding: 8 12 8 12;
}

.error-dialog-header .label
{
    -fx-text-fill: -header-text-color;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.error-dialog-content
{
    -fx-padding: 12;
    -fx-spacing: 8;
}
